{% extends "layout.html" %} {% block body %}
<a class="text-blue-500 hover:text-blue-800" href="{{ url_for('routes_single', route_id=route.id) }}">&#8592;
  Back</a>
<h2 class="text-3xl">Attach stop to the route ({{ route.name }})</h2>
<form class="w-full max-w-sm pt-4" method="POST" action="{{ url_for('attach_stop', route_id=route.id) }}">
  <div class="md:flex md:items-center mb-4">
    <div class="md:w-1/3">
      <label class="block text-gray-700 font-bold md:text-right mb-1 md:mb-0 pr-4" for="stop">
        {{ form.stop.label }}
      </label>
    </div>
    <div class="md:w-2/3">
      <div class="relative">
        {{ form.stop(class_="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-blue-500") }}
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
        </div>
      </div>
    </div>
    {% for error in form.stop.errors %}
    <p class="text-red-500 text-xs italic">{{ error }}</p>
    {% endfor %}
  </div>
  <div class="md:flex md:items-center">
    <div class="md:w-1/3"></div>
    <div class="md:w-2/3">
      <input
        class="shadow bg-blue-500 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
        type="submit" value="Attach stop" />
    </div>
  </div>
</form>
{% endblock %}