<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Reitit</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body>
  <nav class="flex items-center justify-between flex-wrap bg-blue-500 p-4">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <h1 class="font-semibold text-2xl">Reitit</h1>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <ul class="text-md lg:flex-grow">
        <li class="block mt-4 lg:inline-block lg:mt-0">
          <a class="text-blue-100 hover:text-white mr-2" href="{{ url_for('lines_list') }}">All lines</a>
        </li>
        {% if current_user.is_authenticated and current_user.has_role('admin') %}
        <li class="block mt-4 lg:inline-block lg:mt-0">
          <a class="text-blue-100 hover:text-white mr-2" href="{{ url_for('lines_form') }}">Create new line</a>
        </li>
        {% endif %}
      </ul>
    </div>
    {% if current_user.is_authenticated %}
    <div>
      <span class="inline-block text-sm leading-none text-white mt-4 lg:mt-0">{{ current_user.name }}</span>
      <a href="{{ url_for('user.logout') }}"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white ml-2 mt-4 lg:mt-0">
        Log out
      </a>
    </div>
    {% else %}
    <div>
      <a href="{{ url_for('user.login') }}"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
        Log in
      </a>
      <a href="{{ url_for('user.register') }}"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
        Register
      </a>
    </div>
    {% endif %}
  </nav>
  <div class="container pt-8 px-4 sm:px-8">
    {% block body %}
    <p>
      Content.
    </p>
    {% endblock %}
  </div>
</body>

<script>
  const removeButtonEl = document.getElementById("remove-line-button");
  const removeLine = () => {
    if (removeButtonEl) {
      const lineId = removeButtonEl.dataset["lineid"];
      if (lineId) {
        fetch(`/lines/${lineId}`, { method: "DELETE" })
          .then(() => window.location.href = "/lines")
          .catch((e) => {
            console.error(e);
            window.alert("Delete unsuccesful!")
          })
      }
    }
  }
  if (removeButtonEl) removeButtonEl.addEventListener("click", removeLine);

  const favoriteButtonEl = document.getElementById("favorite-line-button");
  const favoriteLine = () => {
    if (favoriteButtonEl) {
      const lineId = favoriteButtonEl.dataset["lineid"];
      if (lineId) {
        fetch(`/favorites/${lineId}/`, { method: "POST" })
          .then(() => window.location.reload())
          .catch((e) => {
            console.error(e);
            window.alert("Adding to favorites unsuccesful!")
          })
      }
    }
  }
  if (favoriteButtonEl) favoriteButtonEl.addEventListener("click", favoriteLine);

  const unfavoriteButtonEl = document.getElementById("unfavorite-line-button");
  const unfavoriteLine = () => {
    if (unfavoriteButtonEl) {
      const lineId = unfavoriteButtonEl.dataset["lineid"];
      if (lineId) {
        fetch(`/favorites/${lineId}/`, { method: "DELETE" })
          .then(() => window.location.reload())
          .catch((e) => {
            console.error(e);
            window.alert("Removing from favorites unsuccesful!")
          })
      }
    }
  }
  if (unfavoriteButtonEl) unfavoriteButtonEl.addEventListener("click", unfavoriteLine);
</script>

</html>