<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Reitit</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body>
  <nav class="flex items-center justify-between flex-wrap bg-blue-500 p-4">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <h1 class="font-semibold text-2xl">Reitit</h1>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <ul class="text-md lg:flex-grow">
        <li class="block mt-4 lg:inline-block lg:mt-0">
          <a class="text-blue-100 hover:text-white mr-2" href="{{ url_for('lines_list') }}">All lines</a>
        </li>
        <li class="block mt-4 lg:inline-block lg:mt-0">
          <a class="text-blue-100 hover:text-white mr-2" href="{{ url_for('lines_form') }}">Create new line</a>
        </li>
      </ul>
    </div>
    {% if current_user.is_authenticated %}
    <div>
      <span class="inline-block text-sm leading-none text-white mt-4 lg:mt-0">{{ current_user.name }}</span>
      <a href="{{ url_for('auth_logout') }}"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white ml-2 mt-4 lg:mt-0">
        Log out
      </a>
    </div>
    {% else %}
    <div>
      <a href="{{ url_for('auth_login') }}"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
        Log in
      </a>
      <a href="{{ url_for('auth_registration') }}"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
        Register
      </a>
    </div>
    {% endif %}
  </nav>
  <div class="container pt-8 px-4 sm:px-8">
    {% block body %}
    <p>
      Content.
    </p>
    {% endblock %}
  </div>
</body>

</html>