{% extends 'flask_user/_public_base.html' %}

{% block body %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<div class="flex justify-center w-full">
    <form action="" method="POST" novalidate formnovalidate class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        role="form">
        <h1 class="text-2xl pb-4">Register</h1>
        {{ form.hidden_tag() }}
        {{ render_field(form.name) }}
        {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
        <div class="mb-4">
            <label for="{{ field.id }}"
                class="block text-gray-700 text-sm font-bold mb-2">{{ field.label.text }}</label>
            {{ field(class_="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
            {% if field.errors %}
            {% for e in field.errors %}
            <p class="text-red-500 text-xs italic">{{ e }}</p>
            {% endfor %}
            {% endif %}
        </div>

        {% if user_manager.USER_ENABLE_EMAIL and user_manager.USER_ENABLE_USERNAME %}
        {{ render_field(form.email) }}
        {% endif %}

        {{ render_field(form.password) }}

        {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
        {{ render_field(form.retype_password) }}
        {% endif %}

        {{ render_submit_field(form.submit) }}
    </form>
</div>

{% endblock %}