{% extends "layout.html" %} {% block body %}
<a class="text-blue-500 hover:text-blue-800" href="javascript:history.back()">&#8592; Back</a>
<div class="flex items-center">
  <h2 class="text-3xl">{{ line.get_name() }}</h2>
  {% if current_user.is_authenticated %}
  {% if is_favorite %}
  <button data-lineid="{{ line.id }}" id="unfavorite-line-button"
    class="inline-block text-sm ml-2 px-2 py-2 leading-none border rounded-full text-gray-600 border-gray-600 hover:border-gray-700 hover:text-gray-700 hover:bg-gray-100 focus:bg-gray-200">
    Remove from favorites
  </button>
  {% else %}
  <button data-lineid="{{ line.id }}" id="favorite-line-button"
    class="inline-block text-sm ml-2 px-2 py-2 leading-none border rounded-full text-gray-600 border-gray-600 hover:border-gray-700 hover:text-gray-700 hover:bg-gray-100 focus:bg-gray-200">
    Add to favorites
  </button>
  {% endif %}
  {% if current_user.has_roles('admin') %}
  <a href="{{ url_for('lines_single_edit_form', line_id=line.id) }}"
    class="inline-block text-sm ml-2 px-2 py-2 leading-none border rounded-full text-gray-600 border-gray-600 hover:border-gray-700 hover:text-gray-700 hover:bg-gray-100 focus:bg-gray-200">
    Edit
  </a>
  <button data-lineid="{{ line.id }}" id="remove-line-button"
    class="inline-block text-sm ml-2 px-2 py-2 leading-none border rounded-full text-gray-600 border-red-300 hover:border-red-400 hover:text-white hover:bg-red-500 focus:border-red-600 focus:bg-red-600 focus:text-white">
    Remove
  </button>
  {% endif %}
  {% endif %}
</div>
<div class="mt-2">
  <h3 class="text-xl">Routes</h3>
  <table class="table-fixed my-2">
    {% for route in routes %}
    <tr>
      <td class="border-b py-2">
        <a class="text-blue-500 hover:text-blue-800"
          href="{{ url_for('routes_single', route_id=route.id) }}">{{ route.name }}</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% if current_user.is_authenticated and current_user.has_roles('admin') %}
  <a class="text-blue-500 hover:text-blue-800" href="{{ url_for('routes_form', line_id=line.id) }}">+ Create a new
    route</a>
  {% endif %}
</div>

{% endblock %}